PHPUnitKit
PlainTasks
SQLTools
SublimeLinter-contrib-bootlint
SublimeLinter-contrib-ecs
SublimeLinter-contrib-htmlhint
SublimeLinter-contrib-oxc
SublimeLinter-contrib-phpstan
SublimeLinter-contrib-rector
SublimeLinter-php-cs-fixer
SublimeLinter-phpmd
sublime-text-alpinejs
Transparency
zzz A File Icon
__pycache__
*.hidden-color-scheme
